@font-face {
  font-family: MyHelveticaNeue;
  src: url(fonts/helvetica-neue-bold.ttf) format("truetype")
}

html, body {
  height: 100%;
  width: 100%
}

.vert-text {
  color: #eee;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  opacity: .9
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3)
}

.icon {
  opacity: .4;
  color: #eee
}

i.fa-linkedin:hover {
  color: #0077b5
}

i.fa-github:hover {
  color: #333
}

i.fa-quora:hover {
  color: #A20
}

i.fa-envelope:hover {
  color: #0072C6
}

.tooltip-inner {
  background: 0;
  color: #eee;
  opacity: .6
}

.dp {
  height: 240px;
  width: 240px;
  border-radius: 100%;
  margin-top: -60px;
  border: 3px solid #eee
}

.lead a {
  color: #09d
}

.lead a.audio-clip {
  color: #eee;
  opacity: .6
}

.lead a.audio-clip:hover {
  text-decoration: none;
  color: #ddd;
  opacity: 1.0
}

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all .4s ease 0;
  -moz-transition: all .4s ease 0;
  -ms-transition: all .4s ease 0;
  -o-transition: all .4s ease 0;
  transition: all .4s ease 0
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px
}

.sidebar-nav li a {
  color: #999;
  display: block;
  text-decoration: none
}

.sidebar-nav li a:hover {
  color: #eee;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none
}

.sidebar-nav>.sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px
}

.sidebar-nav>.sidebar-brand a {
  color: #999
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #eee;
  background: 0
}

.sidebar-special {
  font-size: 20px
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  color: #eee;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  -webkit-transition: all .3s ease 0;
  -moz-transition: all .3s ease 0;
  -ms-transition: all .3s ease 0;
  -o-transition: all .3s ease 0;
  transition: all .3s ease 0
}

#menu-toggle:hover {
  border: 1px solid #999;
  background-color: rgba(0, 0, 0, 0.1)
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all .4s ease 0;
  -moz-transition: all .4s ease 0;
  -ms-transition: all .4s ease 0;
  -o-transition: all .4s ease 0;
  transition: all .4s ease 0
}

.toggle {
  margin: 5px 5px 0 0
}

.toggle-override {
  color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-color: #222;
  border-color: rgba(255, 255, 255, 0.4)
}

.toggle-override:hover {
  color: #eee;
  background-color: #333
}

.location-label {
  color: #eee;
  opacity: .1;
  bottom: 10px;
  left: 20px;
  position: absolute
}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative
}

.img-src {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
  background-color: #222;
  background-image: url('../img/Madison/bg0-blur.jpg')
}

.scroll-img {
  opacity: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../img/Madison/bg0.jpg')
}

.tutor-src {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
  background-color: #222;
  background-image: url('../img/tutor/tutor.jpg');
}

.intro, .projects, .tutor-bg, .rates, .contact {
  padding: 50px 0;
  background: #eee;
  color: #333
}

.work, .about {
  padding: 50px 0;
  background: #333;
  color: #eee
}

.work-item {
  margin-bottom: 15px
}

.work-icon {
  border: 3px solid #eee;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 180px;
  height: 180px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center
}

i.work-icon {
  border: 3px solid #eee;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center
}

.callout {
  color: #eee;
  display: table;
  height: 400px;
  width: 100%
}

.callout.work {
  background: url(../img/hkdense-blur.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

.callout.projects {
  background: url(../img/code-blur.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

.callout.about {
  background: url(../img/hiking.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

.callout.resume {
  background: url(../img/thinker-blur.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

.projects {
  padding: 50px 0
}

.projects-item {
  margin-bottom: 25px
}

.projects-icon {
  margin: 0 auto;
  border: 3px solid #383838;
  display: inline-block;
  font-size: 56px;
  width: 180px;
  height: 180px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center
}

.call-to-action {
  color: #eee;
  background: #0a5175;
  padding: 50px 0
}

.call-to-action .btn {
  margin: 10px
}

.map {
  height: 500px
}

footer {
  padding: 100px 0;
  background: #eee;
  color: #333
}

.top-scroll {
  margin-top: 50px
}

.top-scroll a {
  text-decoration: none;
  color: inherit
}

i.scroll {
  color: #333
}

i.scroll:hover {
  color: #0a5175
}

@media(max-width:768px) {
  .img-src .tutor-src {
    background-attachment: scroll
  }
  .callout.work, .callout.projects, .callout.resume, .callout.about {
    background-attachment: scroll
  }
}

li:not(.credentials, .philosophy) {
  list-style: none
}

.btn-special {
  background: rgba(255, 255, 255, 0.2);
  color: #eee;
  border-radius: 50px;
  width: 100px
}

.noshow {
  visibility: hidden
}

.hid {
  display: none
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -30px;
  visibility: visible
}

.fb-follow {
  float: left
}

.twitter-follow {
  display: inline-block;
  margin-right: -10px
}

.quora-follow-button {
  float: right
}

.follow {
  opacity: .8;
  display: block;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 350px
}

.enlarge-on-hover:hover {
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -ms-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

.enlarge-on-hover {
  -ms-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

.readlabel {
  border-radius: 10px;
  background-color: #888;
  width: 100%;
  display: inline;
  font-size: 10px;
  padding: 3px 7px;
  font-weight: bold;
  color: #eee
}

.readlist {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  opacity: .8
}

.readlist:hover {
  text-decoration: none;
  opacity: 1.0
}

@media(min-width:768px) {
  .readlist {
    font-size: 21px
  }
}

/** Tutor **/

/******************************************************************************/

/* background section */

#bg-blurb {
  color: #254c79;
}

#credentials {
  background: #0f4d92;
  color: #fff;
}

#credentials li a {
  color: #fff;
  display: inline;
  font-weight: bold;
  text-decoration: none;
}

#credentials li a:hover {
  color: #ddd;
  text-decoration: none;
}

#credentials li a:active, #credentials li a:focus {
  text-decoration: none;
}

/******************************************************************************/

/* philosophy section */

#philo-top {
  height: 33vh;
  min-height: 231px;
}

#philo-topleft-panel {
  height: 33vh;
  min-height: 231px;
  background: #b02334;
  color: #fff;
  display: none;
}

#philo-topright-panel {
  height: 33vh;
  min-height: 231px;
  background: #e67878;
  color: #fff;
  display: none;
}

#philo-middle {
  height: 34vh;
  min-height: 238px;
  color: #b02334;
}

#philo-bottom {
  height: 33vh;
  min-height: 231px;
}

#philo-bottom-panel {
  height: 33vh;
  min-height: 231px;
  background: #cc4242;
  color: #fff;
  display: none;
}

#philo-right {
  height: 100vh;
  min-height: 700px;
  background: #c90016;
  color: #fff;
}

/******************************************************************************/

/* courses section */

#courses-left {
  height: 100vh;
  min-height: 700px;
  color: #043b05;
  border-bottom: 3px solid #eee;
}

#academics-panel {
  height: 50vh;
  min-height: 350px;
  background: #40a83b;
  color: #fff;
}

#testprep-panel {
  height: 50vh;
  min-height: 350px;
  background: #043b05;
  color: #fff;
}

#essay-editing-panel {
  height: 50vh;
  min-height: 350px;
  background: #207b25;
  color: #fff;
}

#academics-text a {
  color: #fff;
  display: inline;
  font-weight: bold;
  text-decoration: none;
}

#academics-text a:hover {
  color: #ddd;
  text-decoration: none;
}

#academics-text a:active, #academics-text a:focus {
  text-decoration: none;
}

#academics-text ul,
#testprep-text ul {
  padding-left: 25px;
}

#academics-text ul ul,
#testprep-text ul ul {
  padding-left: 8px;
}

/* eng award modal */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 80%;
  max-width: 500px;
  max-height: 400px;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 15px;
  left: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/******************************************************************************/

/* rates section */

#rates-left {
  height: 100vh;
  min-height: 700px;
  color: #e6962e;
}

#rates-right {
  height: 100vh;
  min-height: 700px;
  background: #ff8f00;
  color: #fff;
}

#rates-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: ;
  border-collapse: collapse;
  width: 100%;
}

#rates-table td, #rates-table th {
  border: 1px solid #ffd000;
  padding: 8px;
}

#rates-table tr {
  background-color: #e6962e;
}

/* #rates-table tr:hover {
  background-color: #ffd000;
} */

#rates-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ff5100;
  color: white;
}

/******************************************************************************/
/* contact section */

#contact-left {
  height: 100vh;
  min-height: 700px;
  color: #721772;
}

#contact-right {
  height: 100vh;
  min-height: 700px;
  background: #8c388c;
  color: #fff;
}

#contact-left a {
  color: #721772;
  display: inline;
  font-weight: bold;
  text-decoration: none;
}

#contact-left a:hover {
  text-decoration: underline;
}

#contact-left a:active, #contact-left a:focus {
  text-decoration: none;
}

#contact-form .has-error .control-label,
#contact-form .has-error .help-block,
#contact-form .has-error .form-control-feedback {
    color: #ff8080;
}

#contact-form p {
  color: #bbb;
}

/******************************************************************************/
/* Alignment */

.vertal-parent {
  position: relative;
  height: 100vh;
  min-height: 700px;
}

.vertal-parent-half {
  position: relative;
  height: 50vh;
  min-height: 350px;
}

.vertal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/* Effects */

.left-slideboard {
  overflow: hidden;
  position: relative;
}

.left-slideholder {
  position: absolute;
  top: 0px;
  left: -100%;
  right: 100%;
  bottom: 0px;
}

.left-slider {
  position: absolute;
  top: 0px;
  left: 100%;
  right: -100%;
  bottom: 0px;
  transition: 0.4s ease;
  visibility: hidden;
}

.left-slideboard:hover .right-slider {
  left: 0;
  right: 0;
  visibility: visible;
}

.right-slideboard {
  overflow: hidden;
  position: relative;
}

.right-slideholder {
  position: absolute;
  top: 0px;
  left: 100%;
  right: -100%;
  bottom: 0px;
}

.right-slider {
  position: absolute;
  top: 0;
  left: -100%;
  right: 100%;
  bottom: 0;
  transition: 0.4s ease;
  visibility: hidden;
}

.right-slideboard:hover .left-slider {
  left: 0;
  right: 0;
  visibility: visible;
}

.bottom-slideboard {
  overflow: hidden;
  position: relative;
}

.bottom-slider {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 100%;
  transition: 0.4s ease;
  visibility: hidden;
}

.bottom-slideboard:hover .top-slider {
  visibility: visible;
  top: 0;
  bottom: 0;
}

.top-slideboard {
  overflow: hidden;
  position: relative;
}

/* .top-slideholder {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 100%;
} */

.top-slider {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: -100%;
  transition: 0.4s ease;
  visibility: hidden;
}

.top-slideboard:hover .bottom-slider {
  visibility: visible;
  top: 0;
  bottom: 0;
}

/* Media queries */

@media screen and (max-width: 1200px) {
  #credentials-text, #philo-topleft-text, #philo-bottom-text, #philo-right-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  #philo-topleft-text, #philo-bottom-text, #academics-text, #testprep-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  #philo-topleft-text, #academics-text, #testprep-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px !important;
  }
}
